<!DOCTYPE html>
<html>
  <head>
    <title>ActionCableChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% unless params[:broken] %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
